html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgb(44, 62, 80);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.logo-text {
  font-size: 30px;
  font-family: "Helvetica";
  margin: 0;
  padding: 20px 40px;
}

.banner-img {
  width: 60%;
  height: 50%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
}

li {
  padding: 20px 40px;
  font-weight: 600;
}

.page-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about {
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
}

.about-photo {
  width: 100px;
  height: 100px;
}

.page-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outils-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.outil {
  width: calc(80% / 3 - 70px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 20px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(186, 180, 180, 0.2);
}

svg {
  font-size: 50px;
  padding: 20px;
  color: rgb(44, 62, 80);
}

a {
  text-decoration: none;
  color: black;
}

.active-link:hover {
  text-decoration: underline;
}

.card {
  width: calc(100% / 3 - 40px);
  height: 340px;
  border-radius: 10px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 100%;
  font-size: 18px;

  font-weight: bold;

  padding: 12px;
  margin: 0;
  z-index: 22;

  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cards-section {
  width: calc(100% - 100px);
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 25px;
  box-sizing: border-box;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-project {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.projects-description-container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.title-about-project-link {
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0;
}

.context {
  text-align: left;
}

.title-about-project-link:hover {
  text-decoration: underline;
}

.fa-link {
  font-size: 22px;
  padding: 5px;
}

.tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}

.tags-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.tag {
  max-width: 100%;
  height: 28px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 15px;
  padding: 10px;
  background-color: rgba(186, 180, 180, 0.2);
}

.banner {
  width: 100%;
  max-width: 1240px;
  height: 500px;
  display: flex;
  margin: 38px 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.img-container {
  width: 100%;
  max-width: 1240px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 4px 4px 5px 4px rgb(0 0 0 / 0.1);
}
.banner-img {
  width: 60%;
  height: 500px;
  object-fit: cover;
  position: absolute;
  border-radius: 25px;
  left: 0;
  bottom: 0;
}
